@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600;800;900&display=swap");
body {
  margin: 0;
  line-height: normal;
}
:root {
  /* fonts */
  --button-16: Inter;

  /* font sizes */
  --button-16-size: 16px;
  --h2-50-size: 50px;
  --h3-32-size: 32px;
  --h1-85-size: 85px;

  /* Colors */
  --black-black-12: #1a1b23;
  --black-black-5: #0b0b0f;
  --black-black-100: #fff;
  --primary-purple: #b982ff;
  --black-black-60: #898da9;

  /* Gaps */
  --gap-13xl: 32px;
  --gap-7xs: 6px;
  --gap-base: 16px;

  /* Paddings */
  --padding-13xl: 32px;
  --padding-5xl: 24px;

  /* Border radiuses */
  --br-3xs: 10px;
  --br-6xl: 25px;
}
